body {
    background-color: white;
    margin: 0;
    border-width: 0;
}

#div1 {
    display: flex;
    height: 700px;
    background-color:antiquewhite;
}

#div2 {
    display: flex;
    height: 700px;
    background-color:aqua;
}

#div3 {
    display: flex;
    height: 700px;
    background-color:blueviolet;
}

#div4 {
    display: flex;
    height: 700px;
    background-color:chocolate;
}


#Canvas {
    display:inline-block;
    position: fixed;
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span {
    position: fixed;
    top: 0px;
    left: 0px;
}

/* img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
} */